.bg
{
    background-image: url(bg2.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 52px;
}

.wel
{
    margin-left: 38%;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 900;
    color: red;
    background-color: #fcfca3;
    height: fit-content;
    width: fit-content;
}

.info 
{
    background-color: rgb(243, 186, 232);
    width: 420px;
    height: 400px;
    border-radius: 10px;
    margin-left: 34%;
    margin-top: 10px;
}

p
{
    padding: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}